@{
    ViewBag.Title = "Graph View";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>


    @*----------Note: I have useed the Highcharts Library to generate visual graphs of the users within the database------*@

    <!-- Highcharts Library script references -->
    <!-- Gender ratio pie chart -->
    <script src="~/Scripts/chart/exporting.js"></script>
    <script src="~/Scripts/chart/highcharts.js"></script>

    <!-- Most popular Type of farming bar graph -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!--Most farmers per province pie chart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>




    <div class="jumbotron">
        <div class="container-fluid">
            <br />
            <br />
            <div class="row">
                <!-- Pie chart gender ratio container-->
                <div class="col-md-6" style="min-width:310px; height:400px; max-width:600px; margin:0 auto">
                    <div id="pieContainer"></div>
                </div>

                <!-- Pie chart province container-->
                <div class="col-md-6" style="min-width:310px; height:400px; max-width:600px; margin:0 auto">
                    <div id="provinceContainer"></div>
                </div>
            </div>

            <!-- Dividing line -->
            <hr style="margin-top: 20px; margin-bottom: 20px; border: none; height: 3px; background-color: darkslategray;">

            <br />
            <br />
            <div class="row">
                <!-- Bar chart farm type container -->
                <div class="col-md-12" style="min-width:610px; height:400px; max-width:1000px; margin:20px auto">
                    <div id="barContainer"></div>
                </div>
            </div>
        </div>
    </div>



    <!--JavaScript code for Highcharts charts-->
    <script>

        /* used getJSON to get data of model within the GraphAnalytics controller*/

        $(document).ready(function () {
            //get data for pie chart gender ratio
            $.getJSON("/GraphAnalytics/GetData", function (data) {



                // Create the chart (used hight chart js pie chart code to generate pie graph)
                Highcharts.chart('pieContainer', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'RSA Farmers Gender Ratio',
                        align: 'center',
                        style: {
                            fontWeight: 'bold' // Set font weight to bold
                        }
                    },
                    subtitle: {
                        //text: 'Click the slices to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>',
                        //align: 'center'
                    },

                    accessibility: {
                        announceNewData: {
                            enabled: true
                        },
                        point: {
                            valueSuffix: '%'
                        }
                    },

                    plotOptions: {
                        series: {
                            borderRadius: 5,
                            dataLabels: [{
                                enabled: true,
                                distance: 15,
                                format: '{point.name}'
                            }, {
                                enabled: true,
                                distance: '-30%',
                                filter: {
                                    property: 'percentage',
                                    operator: '>',
                                    value: 5
                                },
                                format: '{point.y:.1f}%',
                                style: {
                                    fontSize: '0.9em',
                                    textOutline: 'none'
                                }
                            }]
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    series: [
                        {
                            name: 'Gender',
                            colorByPoint: true,
                            data: [
                                {
                                    name: 'Male',
                                    y: data.Male,

                                },
                                {
                                    name: 'Female',
                                    y: data.Female,

                                },

                                {
                                    name: 'Unspecified',
                                    y: data.Unspecified,

                                }
                            ]
                        }
                    ]

                });
                //end chart js
            });

        });
        //end getjson-------------------------



        //Type of farming bar graph script code:
        $(document).ready(function () {
            // Get data for bar graph
            $.getJSON("/GraphAnalytics/GetFarmingType", function (result) {

                // Create the chart
                Highcharts.chart('barContainer', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        align: 'center',
                        text: 'Most Popular Type of Farming in SA',
                        style: {
                            fontWeight: 'bold' // Set font weight to bold
                        }
                    },
                    subtitle: {
                        //align: 'left',
                        //text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
                    },
                    accessibility: {
                        announceNewData: {
                            enabled: true
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Total percent market share'
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.1f}%'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    series: [
                        {
                            name: 'Type of farming',
                            colorByPoint: true,
                            data: [
                                {
                                    name: 'Arable',
                                    y: result.Arable,

                                },
                                {
                                    name: 'Commercial',
                                    y: result.Commercial,

                                },
                                {
                                    name: 'Extensive',
                                    y: result.Extensive,

                                },
                                {
                                    name: 'Intensive',
                                    y: result.Intensive,

                                },
                                {
                                    name: 'Mixed',
                                    y: result.Mixed,

                                },
                                {
                                    name: 'Postoral',
                                    y: result.Postoral,

                                },
                                {
                                    name: 'Sedentary',
                                    y: result.Sedentary,

                                },
                                {
                                    name: 'Sedentary',
                                    y: result.Sedentary,

                                }
                            ]
                        }
                    ]
                });

            });
        });
        //end bar graph script-----------------------------------


        // Province pie chart High chart Script:
        $(document).ready(function () {
            // Get data for province pie chart
            $.getJSON("/GraphAnalytics/GetProvince", function (result) {


                // Data retrieved from https://gs.statcounter.com/vendor-market-share/mobile/
                Highcharts.chart('provinceContainer', {
                    chart: {
                        styledMode: true
                    },
                    title: {
                        text: 'Province with Most Farmers in SA',
                        align: 'center',
                        style: {
                            fontWeight: 'bold' // Set font weight to bold
                        }
                    },
                    xAxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    },
                    series: [{
                        type: 'pie',
                        allowPointSelect: true,
                        keys: ['name', 'y', 'selected', 'sliced'],
                        data: [
                            ['Eastern Cape', result.EasterCape, true, true],
                            ['Free State', result.FreeState, false],
                            ['Gauteng', result.Gauteng, false],
                            ['KwaZulu-Natal', result.KwaZuluNatal, false],
                            ['Limpopo', result.Limpopo, false],
                            ['Mpumalanga', result.Mpumalanga, false],
                            ['North West', result.NorthWest, false],
                            ['Northen Cape', result.NorthenCape, false],
                            ['Western Cape', result.WesternCape, false]
                        ],
                        showInLegend: true
                    }]
                });

            });
        });
        //end province pie chart script-----------------------------

    </script>
</body>
</html>
